.final-result {
  --primary-color: orangered;
  --secondary-color: hotpink;
  --base-measurement: 20px;
}

/* Access the variable by using the var() function */
.final-result .final__box {
  text-align: center;

  /* This variable is local to the ".final-result .box" selector */
  --text-color: #f3f3f3;
  color: var(--text-color);

  background: var(--primary-color);
  margin:     var(--base-measurement);

  /* You can do math by including the calc() function! */
  height:       calc( var(--base-measurement) * 10 );
  width:        calc( var(--base-measurement) * 10 );
  line-height:  calc( var(--base-measurement) * 10 );
}

.final-result .final__box2 {
  background: var(--secondary-color);
}
